.custom-scroll {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 6px;
  }

  /* Define scrollbar styles for Firefox */
  scrollbar-color: #888 #eee;
  scrollbar-width: thin;
}

.widget {
  font-family: $custom-font-family;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  max-width: 400px;
  width: 100%;
  height: 800px;
  padding: 130px 0px 0;
  border-radius: 8px;
  background: lighten($col-6, 11%);

  &__content {
    @extend .custom-scroll;
    overflow-y: auto;
    height: 100%;
    padding: 10px;

    
  }

  &__controls-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 130px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid $col-6;
  }

  &__depth-input {
    flex: 1 1 100%;
    width: 100%;
    height: 34px;
    padding: 2px 10px;
    margin-bottom: 10px;
    border: 1px solid $col-8;
  }

  &__dropdown {
    position: relative;
    margin: 10px 0;
    padding: 4px 10px 4px 10px;
    border: 1px solid darken($col-2, 10%);
    border-width: 1px 0 1px 1px;

    & .widget__dropdown {
      margin-left: 20px;
    }
  }

  &__dropdown-title {
    padding: 2px 5px;
    background-color: $col-1;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text{
      padding: 5px 7px;
      cursor: pointer;
      flex: 1 1 auto;

      &.active {
        color: $col-3;
      }
    }

    &__navigation {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    &__caret-icon {
      position: relative;
      display: inline-block;
      padding: 12px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent $col-9;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
      }

      .widget__dropdown.opened > .widget__dropdown-title & {
        &::before {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
    &__anchor-icon {
      position: relative;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      padding: 0 5px;

      &::before {
        content: "\2693";
        display: flex;
        align-items: center;
        justify-content: center;

        width: 12px;
        height: 12px;
      }
    }
  }

  &__dropdown-content{
    max-height: 100%;
    width: 100%;
    
    @extend .custom-scroll;

    .widget__dropdown.opened > .widget__dropdown-content-wrapper &{
      overflow-y: auto;
    }


    &-wrapper{
      max-height: 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      opacity: 0;
      transition: max-height 0.5s ease-in-out, height 0.3s ease-in-out, opacity .2s ease-in-out;

      @extend .custom-scroll;

    .widget__dropdown.opened > & {
      max-height: 1000px; 
      height: auto; 
      opacity: 1;
      transition: max-height 0.5s ease-in-out, height 0.3s ease-in-out, opacity .3s .2s ease-in-out;
    }
    }
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: $custom-font-family;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    width: 50%;
    flex: 1 1 50%;
    max-width: 204px;
    min-height: 32px;
    color: $tc-2;
    background: $col-5;
    border: 1px solid $col-5;
    transition: $trs;

    @include br-p(992px, min) {
      &:hover {
        background: darken($col-3, 10%);
      }
    }

    &_v-2 {
      background: $col-7;
      // color: $tc-1;
      border-color: $col-7;

      @include br-p(992px, min) {
        &:hover {
          // color: #fff;
          background: lighten($col-7, 10%);
          border-color: lighten($col-7, 10%);
        }
      }
    }
  }

  &__message {
    padding: 10px 0;

    &__text{
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}

.highlighted {
  outline: 2px solid $col-8 !important;
}

@include br-p($xl) {
}

@include br-p($lg) {
}

@include br-p($md) {
}

@include br-p($sm) {
}

@include br-p($xs) {
}

@include br-p(419px) {
}
